<template>
  <section class="main-content">
    <div class="align-content">
      
      <!-- Instanciando um componente -->
      <Hello></Hello>


      <section class="section">
        <h1 class="title" style="text-align: left; margin-top: 35px;">Created <small>(Native vue methods)</small></h1>
        <div class="field-content">
          <p>Número aleatório gerado toda vez que se cria este componente: <b>{{ count }}</b></p>
        </div>
      </section>
            
      
      <div class="section-form">
        
        <!-- Maneira de como instanciar um componente no template -->
        <Events :texto="textForEvents" v-on:callback="callbackEvents($event)"></Events>
        <Syntax :texto="textForSyntax" ></Syntax>

      </div>
    </div>
  </section>
</template>

<script>

// importando componentes para utilizar
import Hello from './content/HelloWorld'
import Events from './content/Events'
import Syntax from './content/Syntax'

// Esta é a parte mais impoortante do componente, onde ele será exportado
export default {

  // (String) define o nome do componente
  name: 'Content',
  
  // As props que fazem a comunicação (mais basica) entre componentes pais e filhos
  // definindo a prop, você poderá passar um valor para ela quando instanciar este componente no pai
  // para acessar a prop basta usar o this.nome_prop 
  // OBS: Não se pode alterar o valor de uma prop diretamente, a comunicação é unica, de pai para filho, não de filho para pai
  props: {
   'nome_prop': {
     type: String,                  // tipo do valor da variavel
     default: 'Default Value'       // valor padrão, caso não receba a prop, assim evita quebra de código
   }
  },

  // (Object) objeto que armazena os componentes que serão apresentados
  components: {
    Hello,
    Events,
    Syntax,
  },

  // (Function) O data é o lugar que se cria as variaveis que serão utilizadas nos "methods" ou no "template",
  //  sempre devrá ser como uma função possuindo um return, pois isso tem o intuito de fazer com que cada vez que se utiliza
  //  essas variaveis do DATA em um componente (isso faz parte da comunicação entre componentes) faz com que crie uma cópia 
  //  da variavel apra cada componente, caso contrário retornará um erro causando Recursividade no componente 
  data() {
    return {
      count: 0,
      textForEvents: "Texto para passar ao filho: Events",
      textForSyntax: "Texto para passar ao filho: Syntax"
    }
  },

  // (Function) O created é uma função que será realizada toda vez que este componente for Criado (instanciado)
  created() {
    this.count = Math.floor(Math.random() * 100)
  },

  // (Function) O mounted é uma função que será realizada toda vez que o componente for COMPLETAMENTE montado, ou melhor
  // toda vez que o componente ter terminado sua renderização
  mounted() {

  },

  // (Object) O methods é responsável por organizar todos as funções / métodos do componente
  methods: {
    function_example: function(params) {
      // O recomendável é utiliar este tipo de sintaxe para criar functions
    },
    izi_function_example(params) {
      // méotodo diferente de se criar uma function (atualizado no ECS6)
    },
    callbackEvents(payload) {
      // exibindo um dialog com a mensagem que recebeu como parametro, 
      // neste caso exibindo o paylod do callback
      // basicamente, exibindo o que receber do evento chamado callback (este evento pode ser qualquer nome)
      // que o componente filho fazer
      this.$dialog.alert(payload)
    }
  },
}
</script>

<style scoped>
.main-content {
  width: 100%;
  height: calc(100% - 60px);
  background-color: rgb(240, 240, 240);
  overflow-y: auto;
}
.section-form {
  text-align: left;
  color: white;
}
</style>
