<template>
  <div id="app">
    <Menu></Menu>
    <Content></Content>
  </div>
</template>

<script>
import Menu from './components/Menu.vue'
import Content from './components/Content.vue'

export default {
  name: 'app',
  components: {
    Content,
    Menu
  }
}
</script>

<style>
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
}

small {
  font-weight: lighter !important;
  font-family: 'Rubik', sans-serif;
}
.title {
  font-size: 2em;
  color: #333 !important;
  font-weight: bolder;
  padding: 10px 0 0 0;
  
}
.field-content {
  width: 100%;
  display: table;
  padding: 10px;
  border-radius: 7px;
  border: 2px dotted rgb(255, 134, 35);
}
.align-content {
  margin: 0 auto;
  width: 65%;
  height: 100%;
  /* background-color: rgba(115, 253, 184, 0.329); */
}
.section {
  padding: 15px 0;
}
</style>
