<template>
  <section class="section">
    <h1 class="title">Events Listeners <small>(methods)</small></h1> 
    <div class="field-content">
      <div style="color: #333"><b>Prop Texto:</b> {{ texto }}</div>
      <br>

      <!-- DIRETIVA DE EVENTOS, V-ON:CLICK (@CLICK)
      
        - É importante analisar (linha 10) uma diretiva do vue, o @click ou v-on:click
        esta parte serve para adicionar uma diretiva em um evento específico, neste caso o evento "click",
        portanto quando o evento click ocorrer será chamado a função em questão, nos exemplos é utilizado as funções alert e alterColor

        - pode ser usada em qualquer evento, v-on:{qualquer_evento}
      -->
      <button class="button is-medium is-primary" @click="alert">
        Launch alert (default)
      </button>
      <button class="button is-medium is-primary" v-on:click="alterColor">
        Alter Color Text
      </button>
      <button class="button is-medium is-success" v-on:click="emitCalback">
        Emit Callback
      </button>
      
      <!-- Este texto terá sua cor aletrada toda vez que a função "alterColor" for chamada -->
      <p :style="{ 'color': color }" class="mg-top-15">({{ color }}) Lorem ipsum dolor sit amet</p>
    

      <!-- DIRETIVA CONDICIONAL: V-IF e V-SHOW
      
      Neste exemplo pode-se observar a diretiva condicional v-if, que possui o mesmo trabalho que o bloco condicional IF
      utilizado nos algortimos, portanto o v-if tem a função de caso a condição for verdadeira ele irá renderizar a tag HTML junto com seus filhos
      exemplo: caso a variavel isActive for false não irá renderizar a tag "b-message"

      Porém temos a utilziação do v-show no lugar do v-if, eles basicamente fazem a mesma coisa, mas a diferença entre eles,
      é que o V-IF cuida da renderização do código, o V-SHOW cuida apenas da visibilidade alterando o display do elemento de acordo com sua condição
      portanto, o v-if renderiza o código ou não, e o v-show SEMPRE vai renderizar o código, mas alterando apenas a sua visibilidade

      -->

      <div class="mg-top-15">
        <button class="button block" @click="isActive = !isActive">Toggle</button>
        <b-message title="Default" v-if="isActive" aria-close-label="Close message">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id fermentum quam. Proin sagittis, nibh id hendrerit imperdiet, elit sapien laoreet elit
        </b-message>
      </div>


    </div>
  </section>
</template>

<script>
export default {
  name: 'Events',
  props: {
    'texto': {
      type: String,
      default: "You know nothing!"
    }
  },
  data() {
    return {
      color: '#333',
      isActive: true
    }
  },
  methods: {
    alert() {
      this.$dialog.alert('Everything looks fine!')
    },
    alertCustom() {
      this.$dialog.alert({
        title: 'Title Alert',
        message: 'I have a title, a custom button and <b>HTML</b>!',
        confirmText: 'Cool!'
      })
    },
    alertCustomError() {
      this.$dialog.alert({
        title: 'Error',
        message: 'Something\'s not good but I have a custom <b>icon</b> and <b>type</b>',
        type: 'is-danger',
        hasIcon: true,
        icon: 'times-circle',
        iconPack: 'fa'
      })
    },
    alterColor() {
      let hexadecimais = '0123456789ABCDEF';
      let cor = '#';
    
      for (let i = 0; i < 6; i++ ) {
      // concatena à variável cor
        cor += hexadecimais[Math.floor(Math.random() * 16)];
      }
      this.color = cor;
    },
    emitCalback() {
      // O $emit serve para emitir um evento ao componente pai,
      // o primeiro parametro é o nome do evento,
      // o segundo parametro é o valor que será retornado no evento em questão
      // Neste caso retornará um evento chamado Callback com um retorno de uma string com o valor "Oi Pai!"
      this.$emit('callback', "Oi Pai!")
    }
  }
}
</script>

<style scoped>
.button {
  margin-right: 15px;
}
.mg-top-15 {
  margin-top: 15px;
}
</style>
